{% extends 'user_data/main.html' %}

{% block content %}
{% if user.is_authenticated %}
<center>
    <h1>
        Hello {{curr_user}}
    </h1>
</center>
{% else %}
<center>
    <h1>
        You should login to see content of there page
    </h1>
    <a href="{% url 'login_user' %}" class="btn btn-primary">Login</a>
    {% endif %}

    <form enctype="multipart/form-data" action="{% url 'csv_file' %}" method="post">
        {% csrf_token %}
        <div class="">
            import csv file
            <input id="csv_file" type="file" placeholder="csv_file">
        </div>
        <button class="btn btn-primary">
            Submit
        </button>
    </form>

</center>


{% endblock %}